<div class="row justify-content-center">
  <div class="col col-lg-9">

    <style>
      h1 { font-size: 4.5vw }
      @media(min-width: 992px) { h1 { font-size: 2.8vw } }
    </style>
    <h1 class="my-5 text-center text-standard">
      <%= md :intro %>
    </h1>

    <h4 class="text-standard text-center mt-5">Subscribe for updates</h2>
    <iframe src="https://paragraph.xyz/@metacrisisxyz/embed?minimal=true" id="paragraph"></iframe>

  </div>
</div>

<%= md :telegram %>

<div class="row">

  <% Contributor.all(filter: '{Verified} = 1').sort_by { |contributor| contributor['Order'] ? contributor['Order'] : 999 + rand }.each { |contributor| %>

  <div class="col-6 col-lg-2">
    <style>
      .headshot { filter: grayscale(100%);  transition: filter 0.5s ease; }
      .headshot:hover { filter: grayscale(0%); }
    </style>
    <% if contributor['Website'] %>
      <a target="_blank" href="<%= contributor['Website'] %>">
        <img class="headshot w-100" src="<%= contributor['Headshot'].first['url'] %>" />
      </a>
    <% else %>
      <img class="headshot w-100" src="<%= contributor['Headshot'].first['url'] %>" />
    <% end %>
    <div>
      <h5 class="my-1"><%= contributor['Name'] %></h5>
      <p class="my-1"><%=contributor['Organisation(s)']%></p>
      <div style="font-size: 1.5em" class="mb-2">
        <% if contributor['Telegram username'] %>
          <a target="_blank" href="https://t.me/<%= contributor['Telegram username'].gsub('@','') %>"><i class="fa fa-telegram"></i></a>
        <% end %>
        <% if contributor['Twitter username'] %>
          <a target="_blank" href="https://twitter.com/<%= contributor['Twitter username'].gsub('@','') %>"><i class="fa fa-twitter"></i></a>
        <% end %>
        <% if contributor['Website'] %>
          <a target="_blank" href="<%= contributor['Website'] %>"><i class="fa fa-link"></i></a>
        <% end %>
      </div>
    </div>
  </div>

  <% } %>

</div>

<div class="row justify-content-center">
  <div class="col-lg-9">
    <h1 class="text-center mt-5 mb-3">Watch an intro to the metacrisis
      <br />
      <span style="font-size: 60%" class="text-standard">Created by one of our members, Joshua Williams</span>
    </h1>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/htiu1oZsRAM" allowfullscreen></iframe>
    </div>
  </div>
</div>

<% if !@posts.empty? %>
  <h1 class="text-center mt-5 mb-3">Recent inspiration</h1>
  <div class="row mb-5">
    <% @posts.each { |post|
    json = JSON.parse(post['Iframely'])
    next unless json['links'] %>
    <div class="col-lg-4 mb-3">
      <%= partial :post, locals: { post: post, json: json } %>
    </div>
    <% } %>
  </div>
<% end %>
